{% extends 'index.html' %}
{% load static %}

{% block content %}

 <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ item.product_image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item.product_name }}</h5>
                                    <!-- Product price-->
                                    ${{ item.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><p class=" mt-auto">{{ item.description }}</p></div>
                                <div class="text-center"><a href="{% url 'addcart' item.id %}" class="btn btn-outline-primary mt-auto">Add To Cart</a></div>
                            </div>
                        </div>
                    </div>
                             </div>
            </div>
        </section>
{% endblock %}