{% extends 'index.html' %}
{% block content %}
<div class=" d-flex flex-column vh-100 justify-content-center align-items-center">
    <h1>Log in</h1>
    <div class="w-50">
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Username</label>
            {{ form.username }}
            <label for="">Password</label>
            {{ form.password }}
            <input type="submit" class="btn btn-success mt-3">
        </form>
    </div>
    <p>Not registered ? click <a href="{% url 'register' %}">here</a></p>
</div>
{% endblock %}