{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <div class="row p-5">
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <div class="card w-100">
              <img src="{{cart.product.product_image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ cart.product.product_name }}</h5>
                <p class="card-text">{{ cart.product.description }}</p>
                <p class="btn btn-primary">$ {{ cart.product.price }}</p>
              </div>
            </div>
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <form action="" method="post">
            {% csrf_token %}
            <label for="" class="form-label">Address :</label>
            {{ form.address }}
            <input type="submit" name="" id="" class="btn btn-warning mt-3">
        </form>
        </div>
    </div>
    </div>
{% endblock %}
   